/* Color Theme Swatches in Hex */
$pink: #caafd0;
$darkPink: #cc7295;
$lightPink: #efa9a9;
$hardal: #dbe1b5;
$olive: #75957d;


//! bu paleti color adobe palette adresinden kopyaladık, hex, rba, hlsa formatları ile verir,
//? biz bunlardan kullanacağımız birini aldık, ve kolaylık olsun diye variable atadık.
//*sass'ta alt kodlar kendi başına derlenmesin diye _ ile başlar.


